<div class="wrapper-planning">
    <div class="container-fluid">
        <div class="row">
            <div class="col-9">
                <div class="row">
                    <div class="col">
                        <div class="image">
                            <img width="" height="" alt="" src="~/imgs/test.jpeg"/>
                        </div>
                    </div>
                    <div class="col">
                        <div class="users">
                            <div class="user">
                                <label>Константин Ларионов: </label>
                                <label>5</label>
                            </div>
                            <div class="user">
                                <label>Константин Ларионов: </label>
                                <label>5</label>
                            </div>
                            <div class="user">
                                <label>Константин Ларионов: </label>
                                <label>5</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="cards">
                        <div class="row">
                             <div class="col-2 card num-1 black">
                                <span class="inner">
                                  <span class="mark">1</span>
                                </span>
                              </div>  
                             <div class="col-2 card num-2 green">
                                <span class="inner">
                                  <span class="mark">2</span>
                                </span>
                              </div>  
                             <div class="col-2 card num-3 yellow">
                                 <span class="inner">
                                     <span class="mark">3</span>
                                 </span>
                                 </div>  
                             <div class="col-2 card num-5 red">
                                 <span class="inner">
                                     <span class="mark">5</span>
                                 </span>
                                 </div>  
                             <div class="col-2 card num-8 blue">
                                 <span class="inner">
                                     <span class="mark">8</span>
                                 </span>
                                 </div>  
                             <div class="col-2 card num-13 blue">
                                 <span class="inner">
                                     <span class="mark">A</span>
                                 </span>
                                 </div>  
                             <div class="col-2 card num-20 blue">
                                 <span class="inner">
                                     <span class="mark">B</span>
                                 </span>
                                 </div>  
                             <div class="col-2 card num-40 blue">
                                 <span class="inner">
                                     <span class="mark">C</span>
                                 </span>
                                 </div>  
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="task">
                    <p class="task-p">
                        Реализация собственной структуры для изменений задач и ОЗР в рамках 40 и 41 типа документа
                    </p>
                    <label class="task-score">Score: 5</label>
                    <a class="task-url btn btn-outline-primary" href="https://jira.bars.group/browse/UNP-26812">Ссылка на задачу в Jira</a>
                </div>
            </div>
        </div>
    </div>
</div>