.background-layout {
    height: 100vh;
    background-image: url(../imgs/background.jpg);
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}
.menu-link {
    color: white;
    font-size: 28px;
    text-decoration: none;
    cursor: pointer;
    margin-right: 20px;
}
.menu-link:hover{
    color: #5F5F5F;
}
.menu {
    position: absolute;
    right: 70px;
    left: auto;
    top: 80px;
}

/*region*/
.search-bar{
    width: 581px;
    height: 70px;
    border: none;
    outline:none;
    font-size: 18px;
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2px);

    border-radius: 25px;
}
.search-button{
    width: 83px;
    height: 70px;
    border: none;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(7.5px);
    /* Note: backdrop-filter has minimal browser support */
    margin-left: 10px;
    border-radius: 25px;
}
.search{
    margin-left: 61px;
    margin-top: 271px;
}
.search-up{
    margin-top: 61px;
}
.cardqa{
    margin-top: 20px;
    padding: 20px;
    font-weight: 500;
    margin-left: 61px;
    width: 378px;
    height: 309px;
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.46);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2px);
    border-radius: 25px;
}
.cardqa:hover{
    background: rgba(255, 255, 255, 1);
}
.cardqa-line{
    width: 100%;
    border-bottom: 1px solid gray;
    margin-bottom: 10px;
}
.cardqa-buttons{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardqa-href{
    text-decoration: none;
    cursor: pointer;
    color: #064F3D;
    margin-left: 20px;
    margin-right: 20px;
}
.cardqa-button{
    border: none;
    background: none;
}
.card-list{
    position: relative;

    margin-top: 30px;
    width: 300%;
}
.card-row{
    position: relative;
    display: flex;
    flex-direction: row;
}
.card-paginator-wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.card-paginator{
    margin-top: 30px;
    width: 376px;
    height: 54px;
    background: rgba(255, 255, 255, 0.42);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.card-paginator-left{
    background: none;
    border: none;
}
.card-paginator-right{
    background: none;
    border: none;
}
.card-paginator-circle{
    background: black;
    border: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.card-paginator:hover{
    background: rgba(255, 255, 255, 1);
}
/*endregion*/
/*region*/
.uploading-menu{
    margin-left: 70px;
    margin-top: 80px;
}
.uploading-api-wrapper{
    margin-top: 40px;
    margin-left: 41px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}
.uploading-api-navi{
    padding: 20px;
    height: 75%;
    border-radius: 15px;
    width: 25%;
    margin-right: 30px;
    background: white;
    opacity: 1;
}
.api-navi-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30px;
}
.api-navi-label{
    font-weight: 500;
    margin-right: 5px;
    margin-left: 10px;
}
.api-naiv-cache{
    margin-left: 20px;
}
.api-button-download{
    background: rgba(255, 255, 255, 1);
    border-radius: 25px;
    padding: 5px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 60px;
    margin-right: 5px;
    margin-left: 30px;
}
.api-button-code{
    margin-left: 5px;
}
.api-navi-body{
    height: calc(97% - 30px);
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}
.api-navi-body-el{
    margin-top: 5px;
}
.api-navi-body-el-text{
    margin-left: 10px;
}
.uploading-api-files{
    height: 80%;
    border-radius: 15px;
    margin-right: 40px;
    width: calc(75% - 30px - 41px - 40px);
    background: white;
    opacity: .7;
}
/* external css: flickity.css */
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body { font-family: sans-serif; }
.gallery {
    background: #EEE;
    width: 200%;
    height: 90%;
}
.gallery > div {
    height: 100%;
}
.gallery-cell {
    width: 49%;
    height: 400px;
    margin-right: 10px;
    counter-increment: gallery-cell;
    overflow-y: auto;
    font-size: 150%;
}
/* cell number */
.gallery-cell:before {
    display: block;
    text-align: center;
    line-height: 200px;
    font-size: 80px;
    color: white;
}
/*end external css: flickity.css*/
.uploading-smev-wrapper{
    margin-top: 40px;
    /*margin-left: 41px;*/
    /*display: flex;*/
    /*flex-direction: row;*/
    /*height: 100vh;*/

    display: grid;
    grid-template-areas:
        'template-head-name_doc template-head-date_add';
    grid-template-rows: auto;
    grid-template-columns: 30% 70%;/* auto 31% */
    gap: 10px;
    text-align: left;
    margin-right: 5%;
    font-size: 0.75em;
    width: calc(100% - 20px);
    margin-left: 20px;
    padding: 0;
      
}
.uploading-smev-wrapper > div{
    height: 140%;
}
.uploading-smev-navi{
    padding: 15px;
    height: 75%;
    border-radius: 15px;
    background: white;
    opacity: 1;
}
.smev-navi-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30px;
}
.smev-navi-label{
    font-weight: 500;
    margin-right: 5px;
    margin-left: 10px;
}
.smev-navi-check{

}
.smev-navi-fieldname{
    display: inline-block;
}
.smev-navi-block{
    display: block;
    margin-bottom: 20px;
}
.navi-block-label{
    font-weight: 500;
    margin-top: 10%
}
.navi-block-brow{
    float: none;
    background: rgba(255, 255, 255, 1);
    border-radius: 25px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 100%;
}
.stands { grid-area: stands; }
.navi-title-label{ font-weight: bold; }
.release { grid-area: release; }
.bugfix { grid-area: bugfix; }
.reserve { grid-area: reserve; }
.doc-ver { grid-area: doc-ver; }
.doc-ver-list { grid-area: doc-ver-list; }
.doc-num { grid-area: doc-num; }
.doc-num-list { grid-area: doc-num-list; }
.doc-type { grid-area: doc-type; }
.doc-type-list { grid-area: doc-type-list; }
.type { grid-area: type; }
.type-list { grid-area: type-list; }
.subj-code { grid-area: subj-code; }
.subj-code-list { grid-area: subj-code-list; }
.time { grid-area: time; }
.time-list { grid-area: time-list; }
.base64-format { grid-area: base64-format; }
.base64-format-list { grid-area: base64-format-list; }
.cell-smev-button-download { grid-area: cell-smev-button-download; }
.cell-smev-button-code { grid-area: cell-smev-button-code; }
.grid-container {
    display: grid;
    grid-template-areas:
    'stands release bugfix reserve'
    'doc-ver doc-ver doc-ver-list doc-ver-list'
    'doc-num doc-num doc-num-list doc-num-list'
    'doc-type doc-type doc-type-list doc-type-list'
    'type type type-list type-list'
    'subj-code subj-code subj-code-list subj-code-list'
    'time time time-list time-list'
    'base64-format base64-format base64-format-list base64-format-list'
    'cell-smev-button-download cell-smev-button-download cell-smev-button-code cell-smev-button-code';
    gap: 10px;
    text-align: left;
    width: 100%;
    height: 100%;
}
.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    /*text-align: center;*/
    padding: 0 0;
    font-size: 100%;
}
.navi-stand-check{
    display:inline-block;
}
.smev-naiv-cache{
    margin-left: 20px;
}
.smev-button-download{
    background: rgba(255, 255, 255, 1);
    border-radius: 25px;
    padding: 5px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 20%;
    height: 50%;
}
.smev-button-code{
    float: right;
    height: 10%;
    width: 20%;
}
.smev-navi-body{
    height: calc(97% - 30px);
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}
.smev-navi-body-el{
    margin-top: 5px;
}
.smev-navi-body-el-text{
    margin-left: 10px;
}
.uploading-smev-files{
    /*height: 30%;*/
    border-radius: 15px;
    background: white;
    opacity: .7;



    display: grid;
    grid-template-areas:
        'template-head-name_doc qwe'
        'template-head-date_add template-head-date_add2';
    grid-template-rows: 85% 15%;
    grid-template-columns: auto auto; /* auto 31% */
    gap: 10px;
    text-align: left;
    margin-right: 5%;
    font-size: 0.75em;
    width: calc(100% - 20px);
    padding: 0;
    
    
    
    
}
.uploading-smev-files > div{
    /*height: 15%;*/
}
/*endregion*/
/*region*/
.xsd { grid-area: xsd; }
.stack { grid-area: stack; }
.settings { grid-area: settings; }
.xml { grid-area: xml; }
.xsd-label { grid-area: xsd-label; color: rgba(255, 255, 255, 0.5); }
.xml-label { grid-area: xml-label; color: rgba(255, 255, 255, 0.5); }
.xsd-label-space { grid-area: xsd-label-space; }
.xml-label-space { grid-area: xml-label-space; }
.panel { grid-area: panel; }
.validation-grid-container {
    display: grid;
    grid-template-areas:
    'xsd stack settings xml'
    'xsd-label . . xml-label'
    'panel panel panel panel';
    grid-template-rows: 10% 10% auto;
    grid-template-columns: auto auto auto auto;
    column-gap: 50px;
    padding: 10px;
    text-align: left;
}
.validation-grid-container > div {
    padding: 0px 0;
    font-size: 100%;
}
.validation-panel{
    padding: 20px;
    height: 24%;
    border-radius: 15px;
    width: 100%;
    margin-right: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 1;
    position: relative;
}
.validation-smev-wrapper{
    margin-top: 15%;
    margin-left: 25%;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60vh;
}
.validation-button{
    background: rgba(255, 255, 255, 1);
    padding: 10px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
}
.validation-panel-template{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    margin-top: -14%;
    display: block;
    border-radius: 15px;
    padding: 1%;
    padding-top: 3%;
    padding-bottom: 3%;
}
.template-head-name_doc{ grid-area: template-head-name_doc; font-weight: bold; text-align: left; margin-left: 10%;}
.template-head-date_add{ grid-area: template-head-date_add; font-weight: bold; text-align: center;}
.template-head-date_valid{ grid-area: template-head-date_valid; font-weight: bold; text-align: center;}
.template-head-status{ grid-area: template-head-status; font-weight: bold; text-align: center;}
.template-head-output{ grid-area: template-head-output; font-weight: bold; text-align: center;}
.panel-template-head{
    display: grid;
    grid-template-areas:
        'template-head-name_doc template-head-date_add template-head-date_valid template-head-status template-head-output';
    grid-template-rows: auto;
    grid-template-columns: 34% 21% 21% auto auto;
    gap: 10px;
    text-align: left;
    margin-right: 5%;
    font-size: 0.75em;
    width: calc(100% - 20px);
    margin-left: 20px;
    padding: 15px;
    padding-bottom: 0;
    padding-top: 0;
    padding-right: 8%;
}
.panel-template-head > div {
    padding: 0px 0;
    font-size: 100%;
}
.panel-template-scroll{
    overflow: auto;
    width: calc(100% - 20px);
    height: 90%;
    display: block;
    border-radius: 15px;
    margin: 20px;
    margin-right: 0;
}
::-webkit-scrollbar { width: 7px; }
::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover { background: black; }
.grid-body-name_doc{ grid-area: grid-body-name_doc; }
.grid-body-date_add{ grid-area: grid-body-date_add; }
.grid-body-date_valid{ grid-area: grid-body-date_valid; }
.grid-body-status{ grid-area: grid-body-status; }
.grid-body-output{ grid-area: grid-body-output; }
.panel-scroll-grid{
    display: grid;
    grid-template-areas:
        'grid-body-name_doc grid-body-date_add grid-body-date_valid grid-body-status grid-body-output';
    grid-template-rows: auto auto;
    grid-template-columns: auto auto auto auto auto;
    gap: 10px;
    padding: 15px;
    text-align: left;
    margin-right: 5%;
    font-size: 0.75em;
    padding-top: 0;
}
.panel-scroll-grid > div {
    padding: 0px 0;
    font-size: 100%;
    text-align: center;
}
.validation-panel-button{
    background: rgba(255, 255, 255, 1);
    padding: 5px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-left: 95%;
    display: block;
    position: inherit;
    top: 0;
}
.panel-button-circle{
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.9);
    width: 50px;
    height: 50px;
}
.panel-button-rectangle{
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}
/*endregion*/
